{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'css/CssArchivo3.css' %}" rel="stylesheet">
        <link href="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'https://use.fontawesome.com/releases/v5.8.1/css/all.css' %}" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/estiloFormulario.css' %}">
        <title>Formulario</title>
        {% load static %}
        <script src="{% static 'js/metodo.js' %}"></script>
        <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js' %}"></script>
        <link rel="icon" href="{% static 'img/Icon.png' %}">
    </head>
    <script src="js/Reloj.js"></script>
    <script src="js/metodo.js"></script>
    <body onload= "startTime()" >

    <!--menu-->

    <nav class="navbar navbar-expand-sm bg-lightgreennavbar-lightgreen">
        <br><br><br>
        <hr>
    </nav>
    <div class="container-fluid"  id="container1">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bo" id="mainNav">
            <a class="navbar-brand" href="#">
                <img class="container" src="{% static 'img/Icon.png' %}" alt="Logo" style="width:80px;">
            </a>
                <div class="container px-4 px-lg-5">
                    <a class="navbar-brand" href="{% url 'file:///D:/Archivos/Escritorio/App%20U/Visual%20estude%20code/Exp1_cedre_morale-main/Principal1.html#signup' %}">fundación Plantitas</a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        Menu
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item "><a class="nav-link" href="{% url 'file:///D:/Archivos/Escritorio/App%20U/Visual%20estude%20code/Exp1_cedre_morale-main/Archivo%20n%C3%BAmero%202.html' %}">| Acerca de |</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'file:///D:/Archivos/Escritorio/App%20U/Visual%20estude%20code/Exp1_cedre_morale-main/Archivo%20n%C3%BAmero%203.html' %}">| Catalogo de productos |</a></li>
                            <li class="nav-item"><a class="nav-link" href="#signup">| Contactos |</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'file:///D:/Archivos/Escritorio/App%20U/Visual%20estude%20code/Exp1_cedre_morale-main/Formulario.html' %}">| Unetenos |</a></li>
                        </ul>
                    </div>
                </div>
        </nav>    
    </div>
    <!--cierre menu-->
     
    <!--reloj-->
    <div class="container-fluid" >
        <div class="container-fluid text-center" >
            <div id="clockdate" >  
                <div class="clockdate-wrapper">
                    <div id="clock"></div>
                    <div id="date"></div>
                </div>
            </div>
        </div>
    </div><!--fin reloj--> <br>

    <!--formulario-->
    <h2 class="container px-4 px-lg-5">UNETE A NUESTRO EQUIPO!!</h2> 
    <h5 class="container px-4 px-lg-5">Rellenar todas las peticiones, todas las opciones son obligtorias.</h5> <br>
    <div class="container">
        <form id="formulario" method="post">
            <div style="background-color:#6cc269;">
                <div class="row align-item-start" id="#row1">
                   

                    <div class="col col1">
                        <div class="container text-center">
                            <div class="form-group"  id="Nombre">
                                <label for="nom">Nombre de Usuario: </label>
                                <input type="text" id="nom" name="nom" minlength="3" maxlength="25" required placeholder="Ej. Juan Pedro" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="col col2">
                        <div class="container text-center">
                            <div class="form-group">
                                <label for="nom">Apellidos de Usuario: </label>
                                <input type="text" id="ape" name="ape" minlength="5" maxlength="25" required placeholder="Ej. Silva del rio" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="col col3">
                        <div class="container text-center">
                            <div class="form-group">
                                <label for="fono">Teléfono de Usuario: </label>
                                <input type="number" id="fono" name="fono" minlength="9" required placeholder="Ej. 912345678" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            
                <br><br>
            
                <div class="row align-item-start" id="#row1" >

                    <div class="col col1">
                        <div class="container text-center">
                            <div class="form-group">
                                <label for="correo">Correo de Usuario: </label>
                                <input type="email" id="correo" name="correo" required placeholder="Juan.Silva@FundiPlantitas.cl" class="form-control">
                                
                            </div>
                        </div>
                    </div> <br>

                    <div class="col col2">
                        <div class="container text-center">
                            <div class="form-group">
                                <label for="fecha">Fecha de Nacimiento: </label>
                                <input type="date" id="fecha" name="fecha" min="1990-01-01" required class="form-control">
                            </div>
                        </div>
                    </div>

                </div>
             <br><br>

            
                <div class="row align-item-start" id="#row1" >

                    <div class="col col1" >
                    
                            <div class="form-group">
                                <label for="pass">Contraseña: </label>
                                <input type="password" id="pass" name="pass" minlength="8" required placeholder="Obligatorio" class="form-control">
                            </div>    
                        
                    </div>

                    <div class="col col2">
                        <div class="form-group">
                                <label for="pass2">Repetir Contraseña: </label>
                                <input type="password" id="pass2" name="pass2" minlength="8" required placeholder="repite tu contraseña" class="form-control">
                        </div>
                    </div>

                    <div class="col col3">
                        <div  class="form-group container">
                            <h5>Eres mayor de edad? si <input type="radio" id="rsi" name="programar" value="SI"  /> no <input type="radio" id="rno" name="programar" value="NO" />
                            </h5>
                        </div>
                    </div>
                </div> <br>

                

                <div class="form-group container-fluid text-center">
                    <input class="btn btn-success" type="submit" id="Enviar"  onclick="Enviar()">
                </div>
                <br>
            </div>

            <div class="col col3">
                <div class="container-fluid">
                    
                        <div class="form-group">
                            <img src="{% static 'img/Jardinero.jpg' %}"  >
                        </div>
                    
                </div>    
            </div>                   
                
            
        </from>
    </div> <br>
    <!--fin del formulario-->

    <script>
        function Enviar(){
            alert("Los datos se han guardao, gracias pro confiar en nosotros y gracias por unirte a nosotros.");
        }
    </script>

    <footer class="footer" id="signup">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <h3 class="footer-titulo">Contáctanos</h3>
                    <ul class="footer-contactos">
                        <li><i class="fas fa-map-marker-alt"></i> Dirección: Av. Esq. Blanca 501, Maipú</li>
                        <li><i class="fas fa-phone"></i> Telefono: 555-323-423</li>
                        <li><i class="fas fa-envelope"></i> Correo: JardinMC.NOTCH@gmail.com</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3 class="footer-titulo">Nuestras redes</h3>
                    <ul class="footer-redes">
                        <li><a href="https://www.facebook.com/" class="fab fa-facebook" target="_blank"></a></li>
                        <li><a href="https://www.instagram.com/" class="fab fa-instagram" target="_blank"></a></li>
                        <li><a href="https://www.twitter.com/" class="fab fa-twitter" target="_blank"></a></li>
                    </ul>
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="footer-copy">
                    <p>@copyright Derechos reservados.</p>
                </div>
            </div>
        </div>

    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="js/DOM.js"></script>
    </body>
</html>
{% endblock %}