{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/estilo.css" rel="stylesheet" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>JardineriaMC</title>
    {% load static %}
    <link rel="icon" href="img/Icon.png">
</head>
<body>


<!--menu-->



<div class="container-fluid"  id="container1">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bo" id="mainNav">
        <a class="navbar-brand" href="#">
            <img class="container" src="{% static 'img/Icon.png' %}" alt="Logo" style="width:80px;">
        </a>
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'file:///D:/Archivos/Escritorio/App%20U/Visual%20estude%20code/Exp1_cedre_morale-main/Principal1.html#signup' %}">fundación Plantitas</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item "><a class="nav-link" href="{% url 'file:///D:/Archivos/Escritorio/App%20U/Visual%20estude%20code/Exp1_cedre_morale-main/Archivo%20n%C3%BAmero%202.html' %}">| Acerca de |</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'file:///D:/Archivos/Escritorio/App%20U/Visual%20estude%20code/Exp1_cedre_morale-main/Archivo%20n%C3%BAmero%203.html' %}">| Catalogo de productos |</a></li>
                        <li class="nav-item"><a class="nav-link" href="#signup">| Contactos |</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'file:///D:/Archivos/Escritorio/App%20U/Visual%20estude%20code/Exp1_cedre_morale-main/Formulario.html' %}">| Unetenos |</a></li>
                    </ul>
                </div>
            </div>
    </nav>    
</div>
    <!--cierre menu-->
    <br><br><br><br>
    <div class="container">
        
        <div class="row">
          <div class="col" style="background-color:#5dc460;" height="350">
                <h2 class="container-fluid text-center">Mision</h2> <br> <br><br>
                <p class="container-fluid text-center" >Nuestra mision principal es ayudar a una fundacion sin fines de lubros y asi poder aportar un granito de arena a la fundacion y colaborar.</p><br><br>
                <div class="container-fluid text-center">
                <img  src="img/fundacion.png"  alt=""><br><br>
            </div>
        </div>

          <div class="col" style="background-color:#77dd77;">
            <h2 class="container-fluid text-center">Vision</h2> <br> <br>
            <div class="container-fluid text-center">
                <img  src="img/entrega.jpg"  alt=""><br><br>
            </div>
            <p class="container-fluid text-center">La vision que tenemos de nuestro proyecto es seguir expandiendonos para poder asi seguir ayudando a la fundacion y cada ves ir podiedno ayudar a mas y mas fundaciones gracias a la venta de nuestros producto de jardineria.</p><br><br>
        </div>
          
          <div class="col" style="background-color:#a5eea0;">
            <h2 class="container-fluid text-center">Informacion</h2> <br> <br>
            <p class="container-fluid text-center">Nosotros como compañia de jardineria buscamos proporcionar las mejores erramientras y la llega del proiducto lo mas rapido y eficiente posible, y para esto estamos trabajando para poder darle las mejores y de una formas mas efiente para usted.</p><br><br>
            <div class="container-fluid text-center">
                <img  src="img/tierrra y herramientasjpg.jpg"  alt=""><br><br>
            </div>
            </div>
        </div>
      </div>
      <br> <br>
    <div class="container px-4 px-lg-5">
        <div class="col">
            <h2 class="text-center">Mira este video para generar ideas para tu jardin.</h2>
            <h4 class="text-center">!no te lo pierdas!</h4><br>
        </div>
    </div>

    <div class="container">
        
      <iframe class="container-fluid" width="560" height="615" src="https://www.youtube.com/embed/anlqCSMVjAo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div><br><br>

    <h2 class="container text-center">Conoce mas ideas para tu jardin!!</h2><br>
    <div>   
        <div class="container-fluid">
            <div class="row align-item-start" id="#row1">

                <div class="col col1" style="background-color:#b1e0b0;">
                    <div class="container text-center"><br>   
                        <h5>Decertica</h5>     
                        <a href="file:///D:/Archivos/Escritorio/App%20U/Visual%20estude%20code/Exp1_cedre_morale-main/Decertico.html">  
                        <img src="img/home-design.jpg"  > <br><br>
                        </a> 
                    </div>
                </div>

                <div class="col col2" style="background-color:#b1e0b0;">
                    <div class="container text-center"><br>  
                        <h5>Rustico</h5>

                        <img src="img/Vicenza_1.jpg"  > <br>                  
                    </div>
                </div>

            </div>
        </div> <br>
    </div>

    <footer class="footer" id="signup">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <h3 class="footer-titulo">Contáctanos</h3>
                    <ul class="footer-contactos">
                        <li><i class="fas fa-map-marker-alt"></i> Dirección: Av. Esq. Blanca 501, Maipú</li>
                        <li><i class="fas fa-phone"></i> Telefono: 555-323-423</li>
                        <li><i class="fas fa-envelope"></i> Correo: JardinMC.NOTCH@gmail.com</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3 class="footer-titulo">Nuestras redes</h3>
                    <ul class="footer-redes">
                        <li><a href="https://www.facebook.com/" class="fab fa-facebook" target="_blank"></a></li>
                        <li><a href="https://www.instagram.com/" class="fab fa-instagram" target="_blank"></a></li>
                        <li><a href="https://www.twitter.com/" class="fab fa-twitter" target="_blank"></a></li>
                    </ul>
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="footer-copy">
                    <p>@copyright Derechos reservados.</p>
                </div>
            </div>
        </div>

    </footer>




</body>
</html>
{% endblock %}