*{
   padding: 0px;
   margin: 0px;

}



.red {
    background-color: gray;
    padding: 20px;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
}

.footer{
    background-color: #F5F5F5;
    padding: 50px 0;

    left:0px;
    bottom:0px;
    width:100%;
}

.col {
    margin: 15px;

}

.col1 {
    height: 100%;
    width: 100%;
}

.col2 {
    height: 100%;
    width: 100%;
}

.footer{
    background-color: #F5F5F5;
    padding: 50px 0;
  
    left:0px;
    bottom:0px;
    width:100%;
  }
.footer-titulo{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  
  }
.footer-contactos li{
    margin-bottom: 10px;
    list-style: none;
  }
  
.footer-redes{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
    list-style: none;
  }
.footer-redes li{
    margin: 0 10px;
  }
.footer-redes a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #6EBE3F;
    font-size: 20px;
  }
.footer-redes a:hover{
    background-color: #6EBE3F;
    color: #fff;
  }
.footer-copy{
    text-align: center;
    font-size: 14px;
    color: black;
    padding: 10px;
  }

img {
    width: 70%;   
}





